header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    padding: 0;
    border-bottom: 1px solid #1e90ff; /* Dodger Blue */
    z-index: 1000;
    margin-bottom: 10px;
  }
  
  a {
    color: #4682b4; /* Steel Blue */
    padding: 2rem;
    font-size: 1.6rem;
  }
  
  a:hover {
    background: #1e90ff; /* Dodger Blue */
    color: white;
    cursor: pointer;
  }
  
  .container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  
  a.logo {
    font-weight: bold;
    padding: 1.3rem;
  }
  
  ul {
    display: flex;
    list-style-type: none;
    margin: 0;
  }
  
  ul a {
    padding: 1.3rem;
    display: inline-block;
    font-size: 1.6rem;
  }
  
  a span {
    background: #87cefa; /* Light Sky Blue */
    color: white;
    padding: 0.1rem 0.45rem;
    border-radius: 100rem;
    font-size: 0.9rem;
  }
  
  .menu-container {
    position: relative;
  }
  
  .menu {
    position: absolute;
    z-index: 1;
    background: #f0f8ff; /* Alice Blue */
    display: none;
  }
  
  .menu-container:hover .menu {
    display: block;
  }
  
  .menu a {
    width: 100%;
    min-width: 8rem;
  }
  
  .dashboard a {
    color: black ;
  }
  
  .dashboard a:hover {
    color: white;
    background-color: #1e90ff;
  }