<app-not-found
    [visible]="!item"
    notFoundMessage="Item Not Found"
    resetLinkText="Back to Homepage">
</app-not-found>
<div class="container" *ngIf="item">
    <img [src] = "item.imageUrl" alt="item.name">

    <div class="details">
        <div class="header">
            <span class="name">
                {{ item.name }}
            </span>
            <span class="favorite {{item.favorite? '' : 'not'}}">❤</span>
        </div>


        <div class="tags">
            <a *ngFor="let tag of item.tags" routerLink="/tag/{{tag}}">
                {{tag}}
            </a>
        </div>

        <div class="description">
            {{ item.description }}
        </div>

        <div class="price">
            <span>
                {{ item.price | currency }}
            </span>
        </div>

        <button (click)="addToCart()">Add To Cart</button>
    </div>

    <div class="reviews">
        <h1>Reviews</h1>
        <ul *ngFor="let review of reviews">
            <li>
                <div class="user">{{ review.user }}</div>
                <div class="rating">
                    <span *ngFor="let i of [1, 2, 3, 4, 5]" class="star {{ i <= review.rating ? 'full' : 'empty' }}">★</span>
                </div>
                <div class="comment">{{ review.comment }}</div>
                <div class="createdAt">{{ review.createdAt | date:'short' }}</div>
            </li>
        </ul>
    </div>
</div>