<app-not-found
    [visible]="!item"
    notFoundMessage="Item Not Found"
    resetLinkText="Back to Homepage">
</app-not-found>
<div class="container" *ngIf="item">
    <img [src] = "item.imageUrl" alt="item.name">

    <div class="details">
        <div class="header">
            <span class="name">
                {{ item.name }}
            </span>
            <span class="favorite {{item.favorite? '' : 'not'}}">❤</span>
        </div>


        <div class="tags">
            <a *ngFor="let tag of item.tags" routerLink="/tag/{{tag}}">
                {{tag}}
            </a>
        </div>

        <div class="description">
            {{ item.description }}
        </div>

        <div class="price">
            <span>
                {{ item.price | currency }}
            </span>
        </div>

        <button (click)="addToCart()">Add To Cart</button>
    </div>
</div>